name: art-kb
services:
  graphdb:
    ports:
      - 127.0.0.1:${GRAPHDB_EXT_PORT}:7200
    volumes:
      - graphdb_data:/opt/graphdb/home
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 16G
    restart: unless-stopped
  minio:
    ports:
      - 127.0.0.1:${MINIO_EXT_PORT}:9000
      - 127.0.0.1:${MINIO_EXT_WEB_PORT}:9090
    volumes:
      - minio_data:/data
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 16G
    restart: unless-stopped
  qdrant:
    ports:
      - 127.0.0.1:${QDRANT_EXT_PORT}:6333
      - 127.0.0.1:${QDRANT_EXT_RPC_PORT}:6334
    volumes:
      - qdrant_data:/qdrant/storage
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 16G
    restart: unless-stopped
  backend:
    ports:
      - 127.0.0.1:${API_EXT_PORT}:80
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 16G
    restart: unless-stopped
volumes:
  graphdb_data:
  minio_data:
  qdrant_data:
  