name: art-kb-dev
services:
  graphdb:
    ports:
      - 127.0.0.1:${GRAPHDB_EXT_PORT}:7200
    volumes:
      - graphdb_data_dev:/opt/graphdb/home
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 8G
  minio:
    ports:
      - 127.0.0.1:${MINIO_EXT_PORT}:9000
      - 127.0.0.1:${MINIO_EXT_WEB_PORT}:9090
    volumes:
      - minio_data_dev:/data
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 8G
  qdrant:
    ports:
      - 127.0.0.1:${QDRANT_EXT_PORT}:6333 # Porta per l'API REST e l'interfaccia web
      - 127.0.0.1:${QDRANT_EXT_RPC_PORT}:6334 # Porta per l'API gRPC
    volumes:
      - qdrant_data_dev:/qdrant/storage
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 8G
  backend:
    ports:
        - 127.0.0.1:${API_EXT_PORT}:80
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 8G
volumes:
  graphdb_data_dev:
  minio_data_dev:
  qdrant_data_dev:
