# GraphDB Configuration
GRAPHDB_HOST= string : "Address of GraphDB service"
GRAPHDB_PORT= int : "Port for accessing GraphDB"
GRAPHDB_EXT_PORT= int : "Port for exposing GraphDB"
GRAPHDB_EXT_URL= string : "Full URL to access GraphDB (Optional)"
GRAPHDB_ROOT_USER= string : "Username of root in GraphDB"
GRAPHDB_ROOT_PASSWORD= string : "Password of root in GraphDB."
GRAPHDB_REPO_NAME= string : "Name of the GraphDB repository to use."
GRAPHDB_USER= string : "Username for authenticating to GraphDB"
GRAPHDB_PASSWORD= string : "Password for authenticating to GraphDB"

# MinIO Configuration
MINIO_HOST= string : "Address of Minio service"
MINIO_EXT_PORT= int : "Port for exposing the MinIO service"
MINIO_EXT_URL= string : "Full URL to access MinIO (Optional)"
MINIO_PORT= int : "Port for accessing the MinIO service"
MINIO_EXT_WEB_PORT= int : "Port for exposing the MinIO web UI"
MINIO_WEB_PORT= int : "Port for accessing the MinIO web UI"
MINIO_ROOT_USER= string : "Root username for accessing MinIO."
MINIO_ROOT_PASSWORD= string : "Root password for accessing MinIO."
MINIO_IMAGE_BUCKET_NAME= string : "Name of Minio bucket for images."
MINIO_FILE_BUCKET_NAME= string : "Name of Minio bucket for files ."

# Qdrant Configuration
QDRANT_HOST= string : "Address of Qdrant service"
QDRANT_EXT_PORT= int : "Port for exposing the Qdrant service"
QDRANT_PORT= int : "Port for accessing the Qdrant service"
QDRANT_EXT_RPC_PORT= int : "Port for exposing the Qdrant RPC service"
QDRANT_API_KEY= string : "API key for authenticating to Qdrant"
QDRANT_COLLECTION_NAME= string : "Name of Qdrant collection."
QDRANT_COLLECTION_SIZE= int : "Size of elements Qdrant collection."

# API Configuration
API_URL_PREFIX= string : "URL prefix for api when deployed"
API_LOG_LEVEL= string : "Api Log level"
API_EXT_PORT= int : "Port for exposing the api"
API_SECRET= string : "API key for using API"
API_WORKERS= int : "Number of API workers to spawn"

# Triton Configuration
TRITON_SSL= bool : "Whether to use ssl for triton connection"
TRITON_MAX_RETRIES= int : "Maximum number of retries"
TRITON_CONFIG_PATH= str : "Path to config of triton services"
